### Retail Sales data visualisation project

#### 1. Data load and exploration

In [1]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_excel('/Users/maksimnoskov/Documents/tsi_term2/bi_dv_project/sales_visualisation/ret_sales.xlsx')

In [12]:
data.columns = data.columns.str.lower()

In [4]:
data.head()

,order_number,shipment_number,item_number,invoice_number,invoice_date,order_date,customer_number,customer_location,customer_department,customer_province,...,company_code,company_name,company_number,average_cost_price,sales_amount,invoice_amount,cost_price,upc_number,purchase_order_number,order_type
0,6735217,20171129,428714,6735217,20171129,20171128,410,10,9,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,3.36,0.56,0.56,62245427241,0,REGULAR
1,6165708,20190626,408872,6165708,20190626,20190624,1375,1,83,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,12.00,4.00,4.00,62245427366,0,REGULAR
2,6517073,20180910,354274,6517073,20180910,20180908,2196,1,70,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,0,0.0,7.16,1.79,1.79,62245427478,0,REGULAR
3,6723693,20200513,222679,6723693,20200513,20200509,1934,50,70,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,19.60,4.90,4.90,62245427708,0,REGULAR
4,6766514,20190128,431999,6766514,20190128,20190125,75379,201,0,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,62.58,10.43,10.43,62245427234,0,REGULAR

In [13]:
# Getting # of rows in a given dataset

len(data)

10000

In [14]:
data['order_number'].equals(data['invoice_number'])

True

In [15]:
data['shipment_number'].equals(data['invoice_date'])

True

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   order_number                10000 non-null  object
 1   shipment_number             10000 non-null  int64
 2   item_number                 10000 non-null  int64
 3   invoice_number              10000 non-null  object
 4   invoice_date                10000 non-null  int64
 5   order_date                  10000 non-null  int64
 6   customer_number             10000 non-null  int64
 7   customer_location           10000 non-null  int64
 8   customer_department         10000 non-null  int64
 9   customer_province           10000 non-null  object
 10  item_description            9928 non-null   object
 11  shipping_region_identifier  10000 non-null  int64
 12  shipping_region_code        10000 non-null  object
 13  shipping_region_name        10000 non-null  object
 14  shipping_unit_measure       10000 non-null  object
 15  shipping_pack_quantity      10000 non-null  int64
 16  item_unit_quantity          10000 non-null  float64
 17  item_department             10000 non-null  int64
 18  item_section                10000 non-null  int64
 19  item_section_module         10000 non-null  int64
 20  item_group                  10000 non-null  int64
 21  item_sequence               10000 non-null  int64
 22  item_stock_status           10000 non-null  object
 23  warehouse_identifier        10000 non-null  int64
 24  warehouse_number            10000 non-null  int64
 25  warehouse_name              10000 non-null  object
 26  warehouse_region_name       10000 non-null  object
 27  vendor_identifier           10000 non-null  int64
 28  vendor_number               10000 non-null  int64
 29  vendor_name                 10000 non-null  object
 30  vendor_city                 10000 non-null  object
 31  vendor_country              10000 non-null  object
 32  vendor_address              10000 non-null  object
 33  order_quantity              10000 non-null  int64
 34  shipped_quantity            10000 non-null  int64
 35  company_identifier          10000 non-null  int64
 36  company_code                10000 non-null  int64
 37  company_name                10000 non-null  object
 38  company_number              10000 non-null  int64
 39  average_cost_price          10000 non-null  float64
 40  sales_amount                10000 non-null  float64
 41  invoice_amount              10000 non-null  float64
 42  cost_price                  10000 non-null  float64
 43  upc_number                  10000 non-null  int64
 44  purchase_order_number       10000 non-null  object
 45  order_type                  10000 non-null  object
dtypes: float64(5), int64(24), object(17)
memory usage: 3.5+ MB

In [17]:
# As data.info() doesn't always interpret empty strings or whitespace as null values I need to check for NaN values
# using another approach.

empty_or_whitespace_mask = data.map(lambda x: x.strip() == '' if isinstance(x, str) else False)
empty_or_whitespace_count = empty_or_whitespace_mask.sum().sum()
print("Total number of empty or whitespace-only entries in the DataFrame:", empty_or_whitespace_count)

Total number of empty or whitespace-only entries in the DataFrame: 104

In [18]:
# Replacing these entries with NaN

data.replace(r'^\s*$', np.nan, regex=True, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   order_number                10000 non-null  object
 1   shipment_number             10000 non-null  int64
 2   item_number                 10000 non-null  int64
 3   invoice_number              10000 non-null  object
 4   invoice_date                10000 non-null  int64
 5   order_date                  10000 non-null  int64
 6   customer_number             10000 non-null  int64
 7   customer_location           10000 non-null  int64
 8   customer_department         10000 non-null  int64
 9   customer_province           9948 non-null   object
 10  item_description            9928 non-null   object
 11  shipping_region_identifier  10000 non-null  int64
 12  shipping_region_code        10000 non-null  object
 13  shipping_region_name        10000 non-null  object
 14  shipping_unit_measure       10000 non-null  object
 15  shipping_pack_quantity      10000 non-null  int64
 16  item_unit_quantity          10000 non-null  float64
 17  item_department             10000 non-null  int64
 18  item_section                10000 non-null  int64
 19  item_section_module         10000 non-null  int64
 20  item_group                  10000 non-null  int64
 21  item_sequence               10000 non-null  int64
 22  item_stock_status           9948 non-null   object
 23  warehouse_identifier        10000 non-null  int64
 24  warehouse_number            10000 non-null  int64
 25  warehouse_name              10000 non-null  object
 26  warehouse_region_name       10000 non-null  object
 27  vendor_identifier           10000 non-null  int64
 28  vendor_number               10000 non-null  int64
 29  vendor_name                 10000 non-null  object
 30  vendor_city                 10000 non-null  object
 31  vendor_country              10000 non-null  object
 32  vendor_address              10000 non-null  object
 33  order_quantity              10000 non-null  int64
 34  shipped_quantity            10000 non-null  int64
 35  company_identifier          10000 non-null  int64
 36  company_code                10000 non-null  int64
 37  company_name                10000 non-null  object
 38  company_number              10000 non-null  int64
 39  average_cost_price          10000 non-null  float64
 40  sales_amount                10000 non-null  float64
 41  invoice_amount              10000 non-null  float64
 42  cost_price                  10000 non-null  float64
 43  upc_number                  10000 non-null  int64
 44  purchase_order_number       10000 non-null  object
 45  order_type                  10000 non-null  object
dtypes: float64(5), int64(24), object(17)
memory usage: 3.5+ MB

In [19]:
# Dealing with dates in invoice_date and order_date

data['invoice_date'] = pd.to_datetime(data['invoice_date'].astype(str), format='%Y%m%d')
data['order_date'] = pd.to_datetime(data['order_date'].astype(str), format='%Y%m%d')

In [ ]:
# I separate returns into a separate file 

returns = data[data['average_cost_price'] < 0]

In [23]:
returns.to_csv('returns.csv', index=False)

In [25]:
# Update my main DataFrame by keeping only the rows where average_cost_price values are 0 or positive:

data = data[data['average_cost_price'] >= 0]

In [32]:
# Delete a row with NaN value in 'customer_province' column

data = data.dropna(subset=['customer_province'])

In [33]:
len(data)

9948

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9948 entries, 0 to 9999
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   order_number                9948 non-null   object
 1   shipment_number             9948 non-null   int64
 2   item_number                 9948 non-null   int64
 3   invoice_number              9948 non-null   object
 4   invoice_date                9948 non-null   datetime64[ns]
 5   order_date                  9948 non-null   datetime64[ns]
 6   customer_number             9948 non-null   int64
 7   customer_location           9948 non-null   int64
 8   customer_department         9948 non-null   int64
 9   customer_province           9948 non-null   object
 10  item_description            9876 non-null   object
 11  shipping_region_identifier  9948 non-null   int64
 12  shipping_region_code        9948 non-null   object
 13  shipping_region_name        9948 non-null   object
 14  shipping_unit_measure       9948 non-null   object
 15  shipping_pack_quantity      9948 non-null   int64
 16  item_unit_quantity          9948 non-null   float64
 17  item_department             9948 non-null   int64
 18  item_section                9948 non-null   int64
 19  item_section_module         9948 non-null   int64
 20  item_group                  9948 non-null   int64
 21  item_sequence               9948 non-null   int64
 22  item_stock_status           9948 non-null   object
 23  warehouse_identifier        9948 non-null   int64
 24  warehouse_number            9948 non-null   int64
 25  warehouse_name              9948 non-null   object
 26  warehouse_region_name       9948 non-null   object
 27  vendor_identifier           9948 non-null   int64
 28  vendor_number               9948 non-null   int64
 29  vendor_name                 9948 non-null   object
 30  vendor_city                 9948 non-null   object
 31  vendor_country              9948 non-null   object
 32  vendor_address              9948 non-null   object
 33  order_quantity              9948 non-null   int64
 34  shipped_quantity            9948 non-null   int64
 35  company_identifier          9948 non-null   int64
 36  company_code                9948 non-null   int64
 37  company_name                9948 non-null   object
 38  company_number              9948 non-null   int64
 39  average_cost_price          9948 non-null   float64
 40  sales_amount                9948 non-null   float64
 41  invoice_amount              9948 non-null   float64
 42  cost_price                  9948 non-null   float64
 43  upc_number                  9948 non-null   int64
 44  purchase_order_number       9948 non-null   object
 45  order_type                  9948 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(22), object(17)
memory usage: 3.6+ MB

In [32]:
# Check for full duplicates in a dataset

duplicate_rows = data.duplicated(keep=False)
duplicate_rows_count = duplicate_rows.sum()
print('Number of duplicate rows in the Dataaset:', duplicate_rows_count)

Number of duplicate rows in the Dataaset: 0

If I need to transform the columns with dates and divide them into days, months and years. Most likely this will not be necessary since Power BI will take dates in the Date format.</br>
May be I won't need these transformations as values in 'invoice_date' and 'order_date' columns are in *datetime64[ns]* format

In [10]:
data['invoice_year'] = data['invoice_date'].dt.year
data['invoice_month'] = data['invoice_date'].dt.month
data['invoice_day'] = data['invoice_date'].dt.day

data['order_year'] = data['order_date'].dt.year
data['order_month'] = data['order_date'].dt.month
data['order_day'] = data['order_date'].dt.day

In [11]:
# Checking new columns with transformed dates

data[['invoice_date', 'invoice_year', 'invoice_month', 'invoice_day',
            'order_date', 'order_year', 'order_month', 'order_day']].head()

,invoice_date,invoice_year,invoice_month,invoice_day,order_date,order_year,order_month,order_day
0,2017-11-29,2017,11,29,2017-11-28,2017,11,28
1,2019-06-26,2019,6,26,2019-06-24,2019,6,24
2,2018-09-10,2018,9,10,2018-09-08,2018,9,8
3,2020-05-13,2020,5,13,2020-05-09,2020,5,9
4,2019-01-28,2019,1,28,2019-01-25,2019,1,25

In [36]:
data['customer_location'].value_counts()

customer_location
1      4005
2       551
4       446
6       435
3       357
       ...
335       1
711       1
46        1
641       1
861       1
Name: count, Length: 126, dtype: int64

In [39]:
data['item_department'].value_counts()

item_department
30    8859
40    1029
0       31
20      28
10       1
Name: count, dtype: int64

In [12]:
# Working with customer_number column. Counting # of unique customers

data['customer_number'].nunique()

635

In [13]:
data['customer_province'].value_counts()

customer_province
ARIZONA       3956
TEXAS         3217
CALIFORNIA    1875
MICHIGAN       494
FLORIDA        168
NEW JERSEY     110
GEORGIA        106
                52
OHIO            22
Name: count, dtype: int64